:root {
    --header-footer-color-text: #000000;
    --first-title-color-text: #333333;
    --second-title-color-text: #3A3A3A;
    --first-color-text: #666666;
    --accent-color: #B88E2F;
    --second-color-text: #898989;
    --third-color-text: #616161;
    --forth-color-text: #B0B0B0;
    --footer-color-text: #9F9F9F;
    --first-background-color: #FFFFFF;
    --second-background-color: #FFF3E3;
    --third-background-color: #F4F5F7;
    --forth-background-color: #FCF8F3;
}


body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: var(--first-background-color);
    color: var(--first-title-color-text);
}

.container {
    max-width: 1236px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


/* header */

.header__content {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    color: var(--header-footer-color-text);
}

.header__logo {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.header__logo .logo__text {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    font-size: 34px;
    margin-left: 5px;
}
.nav {
    display: flex;
    align-items: center;
    max-width: 750px;
    width: 100%;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    max-width: 430px;
    width: 100%;
    justify-content: space-between;
    margin: 0 -20px;
}

.menu__item {
    margin: 0 20px;
}

.menu__item:last-child {
    margin-right: 50px;
}

.menu__link {
    font-size: 16px;
}

.btn__list {
    display: flex;
    align-items: center;
    max-width: 247px;
    width: 100%;
    justify-content: space-between;
    margin: 0 -10px;
}
.btn__item {
    margin: 0 10px;
}

.btn__account,
.btn__search,
.btn__heart,
.btn__cart {
    display: flex;
    align-items: center;
}


/* hero */
.hero {
    background-image: url(../images/hero-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 153px;
    height: 750px;
}

.hero__content {
    position: relative;
}

.hero__text-block {
    max-width: 550px;
    position: absolute;
    right: 0;
    padding: 60px 40px 35px;
    background-color: var(--second-background-color);
    border-radius: 10px;
}

.hero__subtitle {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 4px;
}

.hero__title {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.25;
    color: var(--accent-color);
    margin-bottom: 17px;
    max-width: 400px;
    width: 100%;

}

.hero__text {
    font-style: 18px;
    line-height: 1.33;
    margin-bottom: 46px;
}

.hero__btn {
    padding: 25px 72px;
    background-color: var(--accent-color);
    text-transform: uppercase;
    font-weight: 700;
    color: var(--first-background-color);
}

/* range */
.range {
}
.container {
}
.range__content {
}
.title {
}
.section__title {
}
.range__title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
}
.text {
}
.range__text {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: var(--first-color-text);
    margin-bottom: 50px;
}
.range__list {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}
.range__item {
    margin: 0 15px;
    flex: 33%;
}

.range__img-block {
    position: relative;
    padding: 0 0 110% 0;

}
.range__img-block img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.range__title-item {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

/* products */

.products {
}
.container {
}
.products__content {
}
.title {
}
.section__title {
}
.products__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--second-title-color-text);
    text-align: center;
    margin: 50px 0 32px;
}
.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -16px;
}
.products__item {
    flex: 25%;
    margin: 0 16px;
    max-width: 277px;
    width: 100%;
    margin-bottom: 32px;
}
.products__img-block {
    position: relative;
    padding: 0 0 106% 0;
}
.products__img-block img {
    position: absolute;
    width: 100%;
    height: 100%;
    
}
.products__text-block {
    background-color: var(--third-background-color);
    padding: 16px 0 30px 16px;

}
.products__item-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--second-title-color-text);
    margin-bottom: 8px;
}
.products__item-description {
    line-height: 1.5;
    color: var(--second-color-text);
    margin-bottom: 8px;
}
.products__item-price {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--second-title-color-text);
}
.btn {
}
.products__btn {
    display: block;
    padding: 12px 78px;
    border: 1px solid var(--accent-color);
    font-weight: 600;
    line-height: 1.5;
    color: var(--accent-color);
    margin: 0 auto 81px;


}